<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 6.2.1 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.Slack.Chat" name="SlackChat">
    <information>
      <category value="" />
      <displayname value="SlackChat" />
      <description value="This Dynatrace plugin can send incident messages to a webhook defined in slack" />
      <supportlevel value="unsupported" />
    </information>
    <configuration>
      <property key="url" label="URL" type="url" description="URL of the Slack channel where the incident message should be sent to. In order to get this URL, one needs to configure a WebHook for that channel to be able to receive external messages. This integration can easily be enabled in the Slack web UI." default="" />
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.action" id="com.Slack.Chat.action" name="SlackChat">
    <plugin configid="com.Slack.Chat" class="com.Dynatrace.SlackChat" />
  </extension>
</plugin>
